.footer{
    background-color: $background-dark;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 130px 0 70px;
        border-bottom: 1px solid $border;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0 150px;
    }
    &__social{
        display: flex;
        gap: 20px;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 62px;
            background-color: $border;
            top: 50%;
            transform: translate(0, -50%);
            left: 370px;
        }
    }
    &__text{
        max-width: 480px;
        text-align: end;
    }
}