// Fonts //
$font-bold: 'Kanit', sans-serif;
$font-regular: 'Nunito', sans-serif;
// Colors //
$background-dark: #131616;
$background-grey: #191D1D;
$white: #FFF;
$border: #212828;
$light-green: #6D7D7D;